spring:
  application:
    name: personal-budget-planner
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/personal_expense_planner
    username: root
    password: Hunter@4343
  jpa:
    show_sql: true
    properties:
      show-sql: true
      hibernate:
        format_sql: true
        ddl-auto: update
        dialect: org.hibernate.dialect.MySQLDialect
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  redis:
    host: localhost
    port: 6379

  mail:
    host: smtp.gmail.com
    port: 587
    username: techtips753@gmail.com
    password: qwon lddw sanh xobr
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  file:
    name: logs/app.log
  level:
    root: DEBUG

server:
  port: 8090
