spring:
  application:
    name: personal-budget-planner
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/personal_expense_planner
    username: root
    password: Hunter@4343
  jpa:
    properties:
      ddl-auto: update
      show-sql: true
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  redis:
    host: localhost
    port: 6379

logging:
  file:
    name: user-service/logs/app.log
  level:
    root: DEBUG

server:
  port: 8090
